<%# locals: (accounts: [], account: nil) -%>
<div
  id="finances"
  class="
    my-0 p-3 flex-1 w-full max-w-[420px] md:max-h-[95vh]
    md:rounded-lg bg-neutral-100 dark:bg-neutral-800
    grid grid-rows-applet
  "
>
  <div id="title" class="pb-3 pt-5 flex justify-between items-center">
    <h1 class="text-3xl">
      <% if account.present? %>
        <a id="return_to_accounts" href="<%= finances_accounts_path %>" class="py-2 px-3 rounded-lg"><</a>
      <% end %>
      <span>Finances</span>
    </h1>
    <% unless account.present? %>
      <a id="add_account" href="<%= new_finances_account_path %>" class="py-2 px-3 rounded-lg bg-green-600">Add</a>
    <% end %>
  </div>

  <div id="accounts" class="overflow-auto <%= "hidden" if account.present? %>">
    <% accounts.each do |account| %>
      <%= render partial: "finances/accounts/preview", locals: { account: account } %>
    <% end %>
  </div>

  <div id="account" class="overflow-auto <%= "hidden" if account.nil? %>">
    <% if account.present? %>
      <%= render "finances/accounts/detail", account: account %>
    <% end %>
  </div>

  <div id="menu" class="mt-3">Here goes the menu</div>
</div>