<%= turbo_stream.update :account do %>
  <%= render partial: "finances/accounts/detail", locals: { account: @account } %>
<% end %>

<%= turbo_stream.update :modal_body do %>
  <%= render partial: "finances/accounts/delete_modal", locals: { account: @record } %>
<% end %>

<% if flash[:error].present? %>
  <%= turbo_stream.append :toasts do %>
    <%= render "toasts/error" do %>
      <p><%= flash[:error] %></p>
    <% end %>
  <% end %>
<% end %>