<!DOCTYPE html>
<html>
  <head>
    <title>Bdgtr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="m-0 p-0 flex flex-col justify-center items-center h-screen bg-neutral-50 text-neutral-950 dark:bg-neutral-900 dark:text-neutral-200">
    <%= yield %>
  </body>
</html>
